# ignore all
*

# unignore ".vscode" folder
# !.vscode/

# unignore CV_project_UE folder
!CV_project_UE/

# unignore CV_project_UE folder
!3D_model/

# unignore .gitignore file
!.gitignore

# unignore html
!*.html

# unignore javascript
!*.js

# unignore markdown
!*.md

# unignore python
!*.py
