# ignore all
*

# unignore ".vscode" folder
# !.vscode/

# unignore ".vscode" folder
!CV_project_UE

# unignore .gitignore file
!.gitignore

# unignore html
!*.html

# unignore javascript
!*.js

# unignore markdown
!*.md

# unignore python
!*.py
